body{
    margin: 0;
    background-color: rgb(250, 235, 216);
    font-family: 'Courier New', Courier, monospace, 'Helvetica Neue', sans-serif;
}
#header{
    color: rgb(182, 21, 21);
    height: 130px;
    width: auto;
    line-height: 50px;
    font-size: 40px;
}
  
@keyframes mymove {
    from   {left: -150px;opacity: 0;}
    to {left: 0px;}
}
    
#content{
    background-color: rgb(93, 179, 182);
    color: black;
    margin-left: auto;
    margin-right: auto ;
    width: 1500px;
    height: 800px;
    padding: 0 40px 0 100px;
}
#content1{
    background-color: transparent;
    color: black;
    margin-left: auto;
    margin-right: auto ;
    width: 1500px;
    height: 500px;
    padding: 0 40px 0 40px;
    clear: both;
}
#content1 img{
    width: 300px;
    height: auto;
    border: #ffffff solid;
    float:left;
    margin: 0 30px 20px 30px;

}
#content1 p{
    font-family:Arial Black;
    color: #da0066;
    font-size: 50px;
    margin-top: 30px;

}
#footer{
    height: 200px;
    width: auto;
    text-align: center;
    background-color:  rgb(93, 179, 182);
    clear: both;
    margin: 0;
}
#footer ul{
    padding-top: 10px;
}
#footer ul li{
    font-size: 30px;
    margin: 10px
    
}
#copy{
    text-align: center;
    margin: 10px;
}
#left{
    float: left;
    width: 420px;
    height: 800PX;
    background-color: #ffffff;
    border-radius: 4%;
    border: #da0066;
}
#right{
    float: left;
    width: 70%;

}
#name-icon{
    font-family:Arial Black;
    color: #000000 ;
}
div ul li p{
    line-height: 160%;
    font-family:Arial;
    color: #000000;
    padding-top: 3px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    border-bottom: 20px solid transparent;
}
div ul li a{
    text-decoration: none
}
div ul li img{

    width: auto;
    height: 45px;
    float: left;
}
.Boder{
    border: 1px solid rgb(93, 179, 182);
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 50px;
    float: left;
    animation:  mymove 3s;
  }

#icon{
    height: 60PX;
    clear: both;
    padding:20px;
    margin-left: 10%;
}
#icon1{
    height: 75px;
    clear: both;
    margin-left: 44%;
}
#icon1 ul li img{
    margin: 10PX;
}
#GT {
    font-family:'Courier New', Courier, monospace, 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    margin: 120px 0 0 100px;
    line-height: 60px;
    
}

#avt{
    width: 300px;
    height: 300px;
    border-radius:50%;
    margin: 10px;
}
nav{
    height: 100px;
    width: 100%;
    border-bottom: rgb(93, 179, 182) solid;     
}
nav ul{
    float: right;
    margin-right: 100px;
    margin-top: 10px;
    font-weight: bold;
}
label.Logo{
    color: #da0066;
    font-size: 60px;
    line-height: 95px;
    padding: 0 200px;
    font-weight:bold;
    float: left;
}

nav ul li{
    display: inline-block;
    line-height: 90px;

    
}
nav ul li a{
    color: #da0066;
    font-size: 35px;
    width: auto;
    height: 50px;
    text-transform:capitalize;
    border-radius: 5%;
    font-weight:lighter ;
    
}
#photo {
    width: 500px;
    height: auto;
    border: #ffffff solid;
    float:right;
    margin-left: 80px;
    margin-top: 10px;
}
a:hover{
    background: rgb(93, 179, 182);
    color: #ffffff;
    transform: .5s;
}